# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/doom/lcadb
server/doom/zandronum.pk3
server/doom/zandronum-Shawn LaFrance.ini
*.log
*.pk3
server/doom/doom2.wad
server/doom/doom.wad
monster-registerer-generator/export/DECORATE.txt
monster-registerer-generator/inject.txt
monster-registerer-generator/input/DECORATE.txt
monster-registerer-generator/main.js
monster-registerer-generator/package-lock.json
monster-registerer-generator/package.json
